<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Trace"
      internalLogFile="c:\temp\nlog-internal.log">

	<!-- Define variables -->
	<variable name="logDirectory" value="${basedir}/logs" />
	<variable name="logFileName" value="${shortdate}.log" />

	<!-- Define targets -->
	<targets>
		<target name="file" xsi:type="File" fileName="${logDirectory}/${logFileName}" />
	</targets>

	<!-- Define rules -->
	<rules>
		<logger name="*" minlevel="Debug" writeTo="file" />
	</rules>
</nlog>
